

.statusbar-overlay {
    background: #000000;
}

.navbar-inner, .toolbar-inner{
   background: rgba(0,0,0,0.3) !important; 
}


.navbar, .subnavbar, .toolbar {
    background: rgba(0, 0, 0, .85) !important;
    
}

.layout-dark .list-block ul{
    background: transparent !important;
  
}

.content-block{
    
    padding:0 !important;
}

.button{
  /*  border:1px solid white  !important;  */
    color:white!important;
    font-weight:bold !important;
    height:50px !important; 
    background:transparent !important;
    border-radius: 11px;
    box-shadow: 0 0 11px gray;
}

.item-media img{
    width:70px;
    height:110px;
}


#movieDetails ul{
 list-style: none !important;    
      padding:0 !important;  
}

#movieDetails ul li{
 font-size: 15px;
    padding-left:5px;
    padding-right:5px;
}


#movieName{
    padding-left:25%;
    border-radius: 11px;
}

.card img{
   width: 100% !important;
}


.modal-inner {
    
    background: white;
    color: #181717;
}


html.ios-gt-8 .modal-button.modal-button-bold{
    color: #181717 !important;
}

.modal-button{
    background: #d9dbdcf2;
}


.list-block.media-list .item-link .item-title-row {

    padding-top: 40px;
}


.list-block ul {
      background: transparent !important;
      color: #ccc!important;
}


.card {
    margin:0 !important;
    
}


.fab, .far, .fas {

    font-size: 20px !important;
      color: #ccc!important;
    margin-left: 10px;
    margin-right:10px;
}




.fab {
    color: #ccc!important;
    font-size: 30px !important;
}


.layout-dark .navbar {
    background-color: transparent !important;
    
}


.button {
     border: 1px solid transparent; 
}

.theme-white .button:not(.button-fill) {
     border-color: transparent;
}